#!/bin/sh
set -e

. /usr/share/debconf/confmodule

test -r /etc/default/sl-modem-daemon && . /etc/default/sl-modem-daemon 

if test -n "$SLMODEMD_COUNTRY" && test -n "$DEBCONF_RECONFIGURE"; then
   #set the default if the old config file exists
   db_set sl-modem-daemon/country "$SLMODEMD_COUNTRY" || true
fi

db_input medium sl-modem-daemon/country || true
db_go

